<!DOCTYPE html>
<html lang="en" data-ng-app="cardMakerApp">
  <head>
    <meta charset="UTF-8"/>
    <title>cardmaker</title>
    <!--
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet">
       -->
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">

  </head>
  <body>
    <p>cards for the game <a href="https://confidentidiots.com/contumacious/">contumacious commuter</a>.</p>

    <small>(version 2018-03-06T15:28:19)</small>

    <div data-ng-controller="ToolsController as vm">
      <p>
        <a href="" ng-click="vm.download()">download datafile</a>
      </p>
    </div>

    <div class="cards" data-ng-controller="MainController as vm">
      <!-- back of card -->
      <div class="card backface" id="backface">
        <span>ContumaciousCommuter</span>
      </div>

      <!-- playing cards -->
      <div ng-repeat="card in vm.cards">
        <div class="card" id="{{card.id}}">
          <span class="stubs">
            {{card.stubs}}
          </span>

          <img ng-src="{{card.img}}"/>

          <h1 class="name">{{card.name}}</h1>

          <p class="flavour">
            {{card.flavour}}
          </p>

          <p class="description" ng-show="card.class">
            {{card.class}} &mdash; {{card.description}}
          </p>

          <span class="stat">
            <span class="power">
            {{card.power}}
            </span>
            <span class="defense">
              {{card.defense}}
            </span>
          </span>

        </div>
      </div>
    </div>

    <script src="index.js"></script>
    <script src="cards.json"></script>
</body>
</html>
